<!DOCTYPE html>
<html>
<head>
<title>iSONGS.Info - Verified Music Search Engine | i SONGS INFO</title>
<meta charset=utf-8>
<meta name=description content="iSONGS.INFO | 100% Official Music Search Engine offers Latest and Old Telugu, Tamil, Hindi Music Albums Search. No.1 Music Site For Movie/Mp3 Songs Search, Best Site For Downloading Indian Movie Mp3 Songs For Free i SONGS Info">
<meta name=keywords content="isongs, i songs search engine, music search, Telugu music, Tamil audio songs, Telugu songs, Hindi Songs, Hindi new songs, songs pages, songs web directory, free songs search, download, free songs, bollywood, kollywood, tollywood, naasongs, Telugu Mp3, Tamil Mp3, Hindi Mp3, Telugu, Hindi, Tamil, Music Search, i Songs, isongs info, naa isongs, naasongs telugu, naasongs hindi, naasongs tamil, naa songs kannada">
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=fragment content=!>
<!--[if !IE]><!-->
<link href=template/css/search-site.min.css rel=stylesheet>
<!--<![endif]-->
<!--[if gte IE 9]><link href="template/css/site.min.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="template/css/site.min.css" rel="stylesheet" type="text/css" /><script src="template/js/respond.min.js" type="text/javascript"></script><![endif]-->
<!--[if lte IE 7]><link href="template/css/site-ie7.min.css" rel="stylesheet" type="text/css" /><script src="template/js/respond.min.js" type="text/javascript"></script><![endif]-->
<link href=template/css/verticals-top-of-search-box.min.css rel=stylesheet>
<link href=template/css/gs-site.min.css rel=stylesheet>
<script src=template/js/jquery.min.js></script>
<script>window.jQuery||document.write('<script type="text/javascript" src="template/js/jquery.min.js"><\/script>')</script>
<link id=faviconlink rel="shortcut icon" href=template/images/favicon.ico>

<style>
.w-100-p { width: 100%;  }
.m-t-10 {margin-top:10px;}
.image-box {border: 1px solid #eee; border-radius: 5px;overflow: hidden;}
.tb-a {padding: 0px 10px 0px 0px;color:#c5c5c5 !important;}
.m-a {margin: auto;}
.ophover:hover {opacity: 0.8;}
.bg-bl {background: #000 !important;}
.br-bl {border-color: #000 !important;}
.t-c {color: #c5c5c5 !important;}

	
</style>

</head>
<body class="bg-bl">
<div id=wrap class="bg-bl">
<div id=header class="bg-bl">
<div class="navbar navbar-default bg-bl">
<div class="container bg-bl ">
<div class=row>
<div class=logoWrapper>
<div class=navbar-header>
<div class=iconLogoWrapper>
<button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-collapse><span class=icon-bar></span><span class=icon-bar></span><span class=icon-bar></span>
</button>
<a class=iconLogo href=# data-icl-coi=1339 data-icl-cop=topnav>
<img src=template/images/is-logo.png alt=iSongs title=iSONGS>
</a>
</div>
<div class=fullLogoWrapper>
<a class=fullLogo href=https://isongs.info/ data-icl-coi=1339 data-icl-cop=topnav>
<img src=/images/logo_fourth.png alt=uTorrent title=uTorrent>
</a>
</div>
</div>
</div>
<div class="form-group navbarInputWrapper">
<div id=topSearchBox>
<div id=___gcse_0 dir=ltr>
<form action="" id=search-form>
<table cellspacing=0 cellpadding=0 class=gsc-search-box><tbody><tr><td class=gsc-input><div class=gsc-input-box id=gsc-iw-id1>
<table cellspacing=0 cellpadding=0 id=gs_id50 class="gstl_50 gsc-input" val style=width:100%;padding:0>
<tbody>
<tr>
<td id=gs_tti50>
<input type=hidden name=label value="<%= label%>" id=input-lang>
<input autocomplete=off size=10 class="form-control sbox" name=q value="<%= q%>" title=search id=gsc-i-id1 placeholder="" dir=ltr spellcheck=false x-webkit-grammar=builtin:search lang=en>
</td>
</tr></tbody></table>
</div></td><td class=gsc-search-button><button class="gsc-search-button gsc-search-button-v2" style=height:25px><svg width=13 height=13 viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td><td class=gsc-clear-button></td></tr></tbody></table></form>
</div>
</div>
</div>
</div>
</div>
<div id=horizontalNavigation>
<div class=searchBoxCategories>
<ul class="nav navbar-nav">
<li class=category>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 viewBox="0 0 18 18"><title>search</title> <path d="M15.396,2.292H4.604c-0.212,0-0.385,0.174-0.385,0.386v14.646c0,0.212,0.173,0.385,0.385,0.385h10.792c0.211,0,0.385-0.173,0.385-0.385V2.677C15.781,2.465,15.607,2.292,15.396,2.292 M15.01,16.938H4.99v-2.698h1.609c0.156,0.449,0.586,0.771,1.089,0.771c0.638,0,1.156-0.519,1.156-1.156s-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.321-1.089,0.771H4.99v-3.083h1.609c0.156,0.449,0.586,0.771,1.089,0.771c0.638,0,1.156-0.518,1.156-1.156c0-0.638-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.322-1.089,0.771H4.99V6.531h1.609C6.755,6.98,7.185,7.302,7.688,7.302c0.638,0,1.156-0.519,1.156-1.156c0-0.638-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.322-1.089,0.771H4.99V3.062h10.02V16.938z M7.302,13.854c0-0.212,0.173-0.386,0.385-0.386s0.385,0.174,0.385,0.386s-0.173,0.385-0.385,0.385S7.302,14.066,7.302,13.854 M7.302,10c0-0.212,0.173-0.385,0.385-0.385S8.073,9.788,8.073,10s-0.173,0.385-0.385,0.385S7.302,10.212,7.302,10 M7.302,6.146c0-0.212,0.173-0.386,0.385-0.386s0.385,0.174,0.385,0.386S7.899,6.531,7.688,6.531S7.302,6.358,7.302,6.146"></path></svg></span><span class=categoryName>Blog</span></a></li>
<li class=category>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 color=#ccc viewBox="0 0 18 18"><title>search</title> <path d="M16.469,8.924l-2.414,2.413c-0.156,0.156-0.408,0.156-0.564,0c-0.156-0.155-0.156-0.408,0-0.563l2.414-2.414c1.175-1.175,1.175-3.087,0-4.262c-0.57-0.569-1.326-0.883-2.132-0.883s-1.562,0.313-2.132,0.883L9.227,6.511c-1.175,1.175-1.175,3.087,0,4.263c0.288,0.288,0.624,0.511,0.997,0.662c0.204,0.083,0.303,0.315,0.22,0.52c-0.171,0.422-0.643,0.17-0.52,0.22c-0.473-0.191-0.898-0.474-1.262-0.838c-1.487-1.485-1.487-3.904,0-5.391l2.414-2.413c0.72-0.72,1.678-1.117,2.696-1.117s1.976,0.396,2.696,1.117C17.955,5.02,17.955,7.438,16.469,8.924 M10.076,7.825c-0.205-0.083-0.437,0.016-0.52,0.22c-0.083,0.205,0.016,0.437,0.22,0.52c0.374,0.151,0.709,0.374,0.997,0.662c1.176,1.176,1.176,3.088,0,4.263l-2.414,2.413c-0.569,0.569-1.326,0.883-2.131,0.883s-1.562-0.313-2.132-0.883c-1.175-1.175-1.175-3.087,0-4.262L6.51,9.227c0.156-0.155,0.156-0.408,0-0.564c-0.156-0.156-0.408-0.156-0.564,0l-2.414,2.414c-1.487,1.485-1.487,3.904,0,5.391c0.72,0.72,1.678,1.116,2.696,1.116s1.976-0.396,2.696-1.116l2.414-2.413c1.487-1.486,1.487-3.905,0-5.392C10.974,8.298,10.55,8.017,10.076,7.825"></path></svg></span><span class=categoryName>Index</span></a></li>
<li class=category>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 viewBox="0 0 18 18"><title>search</title> <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></path></svg></span><span class=categoryName>Help</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class=body-content>
<div class=container>
<div class=row>
<div id=pageWrapper>
<!-- <div id=leftColumn>
<nav class="collapse navbar-collapse" id=verticalNavigation>
<div class=searchBoxCategories>
<ul class="nav navbar-nav">
<li class=category>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 viewBox="0 0 18 18"><title>search</title> <path d="M15.396,2.292H4.604c-0.212,0-0.385,0.174-0.385,0.386v14.646c0,0.212,0.173,0.385,0.385,0.385h10.792c0.211,0,0.385-0.173,0.385-0.385V2.677C15.781,2.465,15.607,2.292,15.396,2.292 M15.01,16.938H4.99v-2.698h1.609c0.156,0.449,0.586,0.771,1.089,0.771c0.638,0,1.156-0.519,1.156-1.156s-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.321-1.089,0.771H4.99v-3.083h1.609c0.156,0.449,0.586,0.771,1.089,0.771c0.638,0,1.156-0.518,1.156-1.156c0-0.638-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.322-1.089,0.771H4.99V6.531h1.609C6.755,6.98,7.185,7.302,7.688,7.302c0.638,0,1.156-0.519,1.156-1.156c0-0.638-0.519-1.156-1.156-1.156c-0.503,0-0.933,0.322-1.089,0.771H4.99V3.062h10.02V16.938z M7.302,13.854c0-0.212,0.173-0.386,0.385-0.386s0.385,0.174,0.385,0.386s-0.173,0.385-0.385,0.385S7.302,14.066,7.302,13.854 M7.302,10c0-0.212,0.173-0.385,0.385-0.385S8.073,9.788,8.073,10s-0.173,0.385-0.385,0.385S7.302,10.212,7.302,10 M7.302,6.146c0-0.212,0.173-0.386,0.385-0.386s0.385,0.174,0.385,0.386S7.899,6.531,7.688,6.531S7.302,6.358,7.302,6.146"></path></svg></span><span class=categoryName>Blog</span></a></li>
<li class=category>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 viewBox="0 0 18 18"><title>search</title> <path d="M16.469,8.924l-2.414,2.413c-0.156,0.156-0.408,0.156-0.564,0c-0.156-0.155-0.156-0.408,0-0.563l2.414-2.414c1.175-1.175,1.175-3.087,0-4.262c-0.57-0.569-1.326-0.883-2.132-0.883s-1.562,0.313-2.132,0.883L9.227,6.511c-1.175,1.175-1.175,3.087,0,4.263c0.288,0.288,0.624,0.511,0.997,0.662c0.204,0.083,0.303,0.315,0.22,0.52c-0.171,0.422-0.643,0.17-0.52,0.22c-0.473-0.191-0.898-0.474-1.262-0.838c-1.487-1.485-1.487-3.904,0-5.391l2.414-2.413c0.72-0.72,1.678-1.117,2.696-1.117s1.976,0.396,2.696,1.117C17.955,5.02,17.955,7.438,16.469,8.924 M10.076,7.825c-0.205-0.083-0.437,0.016-0.52,0.22c-0.083,0.205,0.016,0.437,0.22,0.52c0.374,0.151,0.709,0.374,0.997,0.662c1.176,1.176,1.176,3.088,0,4.263l-2.414,2.413c-0.569,0.569-1.326,0.883-2.131,0.883s-1.562-0.313-2.132-0.883c-1.175-1.175-1.175-3.087,0-4.262L6.51,9.227c0.156-0.155,0.156-0.408,0-0.564c-0.156-0.156-0.408-0.156-0.564,0l-2.414,2.414c-1.487,1.485-1.487,3.904,0,5.391c0.72,0.72,1.678,1.116,2.696,1.116s1.976-0.396,2.696-1.116l2.414-2.413c1.487-1.486,1.487-3.905,0-5.392C10.974,8.298,10.55,8.017,10.076,7.825"></path></svg></span><span class=categoryName>Index</span></a></li>
<li class=category style=height:25px>
<a href=https://isongs.info/support/ ><span><svg width=25 height=15 viewBox="0 0 18 18"><title>search</title> <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></path></svg></span><span class=categoryName>Help</span></a></li>
</ul>
</div>
</nav>
</div> -->
<div id="mainColumn" class="bg-bl br-bl" style="margin-top: 0px;">
<div class="main-loader-div" style="height: 100vh;width: 100%; position: absolute;z-index: 9999;background: #ffffff;text-align: center;padding-top: 10%;">
<img src="https://jeobi.com/images/loading.gif">
</div>
<div class=resultsMainRegion>
<div id=___gcse_1>
<div class="gsc-control-cse gsc-control-cse-en bg-bl br-bl">
<div class="gsc-control-wrapper-cse bg-bl " dir=ltr>
<div class="gsc-results-wrapper-nooverlay gsc-results-wrapper-visible">
<div class=gsc-positioningWrapper>
<div class=gsc-tabsAreaInvisible>
<div class="gsc-tabHeader gsc-inline-block gsc-tabhActive"><span>iSongs</span></div>
<span class=gs-spacer> </span>
</div>
</div>


<div class=gsc-adBlockNoHeight style=height:0>
</div>
<div id=noresult-box class="noresult-box alert alert-warning">
Cant find the results ? no problem, just drop a mail to info@isongs.info we will update ASAP.
</div>
<div class=gsc-resultsbox-visible>
<div class="gsc-resultsRoot gsc-tabData gsc-tabdActive">
<div class="gsc-results gsc-webResult">
<div class="gsc-expansionArea" id="append-results_old">


<div class="container w-100-p">

	<div class="row" id="append-results">

		<!-- <div class="col-md-4 m-t-10" >
			<div class="image-box">
				<a class="" href="https://naasongs.co/na-mogudu-na-ishtam.html" target="_blank" ><img class="img-responsive m-a" src="https://i0.wp.com/naasongs.co/wp-content/uploads/2016/07/Na-Mogudu-Na-Ishtam-2000-250x250.jpg?w=250&amp;quality=60" onerror="this.onerror=null;this.src='naasongs.co/wp-content/uploads/2016/07/Na-Mogudu-Na-Ishtam-2000-250x250.jpg';" title="Na Mogudu Na Ishtam Songs Free Download" ></a>
			</div>
			<div class="text-box">
				<a class="tb-a" href="https://naasongs.co/na-mogudu-na-ishtam.html" target="_blank" dir="ltr" > Na Mogudu Na Ishtam Songs Free Download - Naa Songs </a>
			</div>
		</div> -->
		
	</div>
	
	<!-- <input type="button" class="btn btn-success" name="" value="adadsad"> -->

</div>



</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id=additionalBottomRegion></div>
</div>
</div>
</div>
</div>
</div>
<!-- <div id=footerWrapper>
<div id=footer>
<div class=container-fluid>
<div class=row-fluid>
<ul class=footerLinks>
<li class=copyright>&#169; 2019 iSONGS.INFO, Inc. All Rights Reserved</li>
<li><a href=https://isongs.info/about.html target=_blank>About</a>
</li>
<li class=separator>|</li>
<li><a href=https://isongs.info/privacy.html target=_blank>Privacy Policy</a>
</li>
<li class=separator>|</li>
<li><a href=https://isongs.info/dmca.html target=_blank>Terms of Use</a>
</li>
<li class=separator>|</li>
<li><a href=https://isongs.info/contact.html target=_blank>Contact Us</a>
</li>
</ul>
</div>
</div>
</div>
</div> -->
<script src=template/js/bootstrap.min.js></script>
<script>"function"!=typeof $().modal&&document.write('<script type="text/javascript" src="template/js/bootstrap.min.js"><\/script>')</script>
<div id=overlay style=display:none>
<div id=overlayScreen></div>
<div id=overlayContent>
<img src=template/images/overlayloading.gif alt="Please wait...">
<br><span id=overlayText></span>
</div>
</div>
<div id=dialog style=display:none></div>
<div id=printArea style=display:none></div>
<script>data={},data= <%- JSON.stringify(data) %></script>
<script>
$(document).ready(function(){$('body').bind('cut copy paste',function(e){e.preventDefault()});$("body").on("contextmenu",function(e){return!1});console.log(data)
if(data.length!=0){var s_label="<%= label%>";$('.mylabel .gsc-tabHeader').each(function(i,v){console.log($(v).data('label'))
if($(v).data('label')==s_label){$(v).addClass('gsc-tabhActive')}})
$('.click-filter-label').click(function(){var select_length=$(this).data('label');$('#input-lang').val(select_length);$('#search-form').submit()})
$('#select-length option[value="<%= length_str%>"]').attr('selected',!0);$(".cb-lang[name='language']").parent().each(function(){$(this).removeClass('active')})
$(".cb-lang[name='language'][value='<%= label%>']").attr("checked",!0);$(".cb-lang[name='language'][value='<%= label%>']").parent().addClass('active');$('#re-sum').show();$('#re-sum').html(" About "+data.hits.total.value+" results ("+data.took+" milliseconds) ");if(data.hits.hits.length!=0){$('#append-results').empty();$.each(data.hits.hits,function(index,value){console.log(value._source);var tt='';var cap='';if(value._source.title){var tt=value._source.title.replace("<!--[CDATA[","").replace("]]-->","").replace("<![CDATA[","").replace("]]>","")}else{return}
if(value._source.caption){var cap=value._source.caption.replace("<!--[CDATA[","").replace("]]-->","").replace("<![CDATA[","").replace("]]>","")}
var dd=tt+" - "+cap;
row=`	<div class="col-md-3 col-sm-6 col-xs-6 m-t-10 ophover" >
			<div class="image-box">
				<a class="" href="${value['_source']['location']}" target="_blank" >`;

					if(value._source.image_link!=null&&value._source.image_link!=''){
						row+=`<img class="img-responsive m-a" src="https://i0.wp.com/${value['_source']['image_link'].replace("https://", "").replace("http://", "")}?w=250&quality=60" onerror="this.onerror=null;this.src='${value['_source']['image_link']}';" title="${tt.slice(0,66)}">`;
					}else{
						row+=`<img class="img-responsive m-a" src="images/default.jpg" title="${cap}">`
					}
			
			row+=`</a>
			</div>
			<div class="text-box">
				<a class="tb-a" href="https://naasongs.co/na-mogudu-na-ishtam.html" target="_blank" dir="ltr" > ${tt.slice(0,45)}... </a>
			</div>
		</div>`;
		$('#append-results').append(row);})
setTimeout(function(){ $('.main-loader-div').addClass('hide'); }, 100 ); }else{$('#append-results').empty();$('#noresult-box').show(); $('.main-loader-div').addClass('hide'); }}else{$('#re-sum').show();$('#re-sum').html(" About 0 results (0 milliseconds) ");$('#append-results').empty();$('#noresult-box').show();$('.main-loader-div').addClass('hide');}});
</script>
</body>
</html>

<!-- <div class="gsc-table-result">
                                  <div class="gsc-table-cell-thumbnail gsc-thumbnail">
                                    <div class="gs-image-box gs-web-image-box gs-web-image-box-portrait">
                                      <a class="gs-image" href="${value['_source']['location']}" target="_blank">`;if(value._source.image_link!=null&&value._source.image_link!=''){row+=`<img class="gs-image" src="https://i0.wp.com/${value['_source']['image_link'].replace("https://", "").replace("http://", "")}?w=100&quality=50" onerror="this.onerror=null;this.src='${value['_source']['image_link']}';" title="${cap}">`}else{row+=`<img class="gs-image" src="images/default.jpg" title="${cap}">`}
row+=`</a>
                                    </div>
                                  </div>
                                  
                                </div> -->