<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Roboto font -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title> Elastic </title>
    <style>
      .cb {
        float:left;width: calc(100% - 100px);
      }
      .r-btn {
        float:left;margin-top: 35px;margin-left:10px;
      }
      .r-btn a {
        border-radius: 100%;height: 30px;width: 30px;
      }
      .sbox:focus {
        outline:0 !important;
        border:1px solid #91b029; 
        box-shadow: none !important;
      }
      .sbox {
        border:1px solid #91b029;
        border-radius: 0px !important;margin-right: 0px !important;width: 500px !important;
      }

      .m-t-20 {
        margin-top: 20px;
      }

      .search-box {
        /*margin-top: 20px;*/
        /*width: 800px;*/
        /*margin: auto;*/
        /*height: 100px;*/
      }

      .search-box a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:#1155cc;text-decoration: underline;font-size: 18px;
      }
      .search-box p.g-link {
        color:#669900;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        width: 500px;
      }

      .img-desc {
        background: ;
        width:  60px;
        height: 40px;
        /*display: inline-block;*/
        display: block;
        float: left;
        

      }

      img.sbimg {
        height: 60px;
        width: 60px; 
        /*margin-top: -40px !important;       */
      }

      p.desc {
        /*float: left;*/
        margin-left: 10px;
        font-size: 13px;
        /*line-height: 20px;*/
        /*width: 500px;*/
        height: 60px;
         /*overflow-wrap: break-word;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;*/
         /*overflow: hidden;*/
          /*position: relative;*/
          /*line-height: 20px;*/
          /*max-height: 40px;*/
          text-align: left;
          background: ;
          /*display: inline-block;*/
          line-height: 20px;
          text-transform: capitalize;
          
        
      }

      .mytextbox {
        background: ;
        width: 520px;
        height: 60px;
        display: inline-block;
        opacity: 0.9;
      }

      /* mixin for multiline */
      /*.block-with-text {
        overflow: hidden;
        position: relative;
        line-height: 20px;
        max-height: 40px;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
      }*/
      
      /*.search-box .img-desc p.desc:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .search-box .img-desc p.desc:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 20px;
        margin-top: 0.2em;
        background: white;
      */}

       p.lang {
        /*float: left;*/
        background: ;
        /*position: absolute;*/
        /*margin-left: 70px;*/
        /*top: 145px;*/
        font-size: 13px;
        text-transform: capitalize;
       

       }

       .noresult-box {
        padding: 10px;
        border-radius: 0px;
        font-size: 13px;
        width: 600px;
        text-align: center;
        margin-top: 20px;
        display: none;
       }

       .re-sum {
        padding: 10px 10px 10px 0px;
        opacity: 0.9;
        font-family: sans-serif;
        display: none;
       }

       .newbox {
        width: 600px;
    height: 80px;
    display: inline-block;
       }

       div.loader-div {
        display: none;
        position: absolute;width: 100%;height: 100vh;background: #dcdcdc78; z-index: 999;
        text-align: center;
      }
      div.loader-div img {
        top:30%;
        position: relative;
      }

      div.small-loader-div {
        display: none;
      }

      .c-pd {
        padding: 6px 15px 6px 15px;
      }
      .c-bg-c {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
      }
      
      .search-box span {
        font-weight: 1000;
      }

    </style>
  </head>
  <body>
    <div class="loader-div" id="loader-div">
      <!-- <img src="https://icon-library.net/images/spinner-icon-gif/spinner-icon-gif-15.jpg"> -->
      <img src="https://jeobi.com/images/loading.gif">
    </div>
    <!-- As a link -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-md-2" href="/" style="padding: 20px;margin-right: 0px; "> <img src="https://arthurgreeno.com/wp-content/uploads/2016/07/arthur-logo-3.png" style="height: 30px;width: auto;"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <form action="" method="GET" class="form-inline my-2 my-lg-0" style="margin-left:0px;" id="search-form" >
      <!-- <input type="hidden" name="length" value="1" id="length"> -->
      <input type="hidden" name="label" value="<%= label%>" id="input-lang">
      <input class="form-control mr-sm-2 sbox" type="search" name="q" id="q" value="<%= q%>" placeholder="Search" aria-label="Search" >
      <button class="btn btn-success my-2 my-sm-0" type="submit" style="border-radius: 0px !important;background: #91b029;border: 1px solid #91b029;" >Search</button>
    </form>
  </div>
</nav>

    <br>
    <div class="container-fluid">

      <div class="row"> 
        <div class="col-md-2" style="background: ;height: 100vh">

        </div>

        <div class="col-md-10" style="background: ; border-left:1px solid #eee;">
<!-- 
          <option value="hindi">Hindi</option>
                    <option value="telugu">Telugu</option>
                    <option value="tamil">Tamil</option>
                    <option value="kannada">Kannada</option>
                    <option value="others">Others</option> -->

          <div class="row">
            <div class="col-md-4">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary c-pd active" >
                <input type="radio" class="cb-lang" name="language" value="" id="" checked> All
              </label>
              <label class="btn btn-secondary c-pd ">
                <input type="radio" class="cb-lang" name="language" value="hindi" id="hindi" > Hindi
              </label>
              <label class="btn btn-secondary c-pd ">
                <input type="radio" class="cb-lang" name="language" value="telugu" id="telugu" > Telugu
              </label>
              <label class="btn btn-secondary c-pd ">
                <input type="radio" class="cb-lang" name="language" value="tamil" id="tamil" > Tamil
              </label>
              <label class="btn btn-secondary c-pd ">
                <input type="radio" class="cb-lang" name="language" value="kannada" id="kannada" > Kannada
              </label>
              <label class="btn btn-secondary c-pd ">
                <input type="radio" class="cb-lang" name="language" value="others" id="others" > Others
              </label>

            </div>
            </div>

            <div class="col-md-2" style="padding-right: 80px;padding-left: 0px;display: none;">
              
            <div class="input-group mb-3" style="">
              <div class="input-group-prepend">
                <label class="input-group-text c-bg-c">Length</label>
              </div>
              <select class="custom-select" id="select-length">
                <option value="1" >10 Items</option>
                <option value="2" >20 Items</option>
                <option value="3" >30 Items</option>
              </select>
            </div>
            </div>
          
          </div>

          <div class="search-result-main-box">

            <div class="re-sum" id="re-sum">
              <!-- About 3,870 results (0.46 seconds) -->
            </div>

            <div id="noresult-box" class="noresult-box alert alert-warning">
              Cant find the results ? no problem, just drop a mail to info@example.com we will update ASAP.
            </div>



            <div class="row" id="append-results">
              
            
              <!-- Search Item Block -->
              <!-- <div class="col-md-7 search-box m-t-20">
                  <a href="#" > Ok Bangaram Songs Free Download - Naa Songs</a>
                  <p class="g-link" > https://naasongs.com/ok-bangaram.html </p>
                  <div class="newbox">
                    <div class="img-desc">
                      <img class="sbimg" src="https://wsongs.com/wp-content/uploads/2018/10/Yaakinge-2018.jpg">
                    </div>
                    <div class="mytextbox">
                      <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
                    </div>
                  </div>
              </div>-->

              <!-- Search Item Block -->
              <!-- <div class="col-md-7 search-box">
                  <a href="#" > Ok Bangaram Songs Free Download - Naa Songs</a>
                  <p class="g-link" > https://naasongs.com/ok-bangaram.html </p>
                  <div class="newbox">
                    <div class="img-desc">
                      <img class="sbimg" src="https://wsongs.com/wp-content/uploads/2018/10/Yaakinge-2018.jpg">
                    </div>
                    <div class="mytextbox">
                      <p class="desc">aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee fffff ggggg aaaaa bbbbb ccccc ddddd eeeee <br> Labeled: <u> Urdu </u> </p> 
                      
                    </div>
                  </div>
              </div> -->


            </div>

            <div class="small-loader-div" id="small-loader-div">
              <img src="https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif">
            </div>

          </div>

          
        </div>

      </div>

      <br><br>
      


    </div>

    <script>
      data = {};
      data = <%- JSON.stringify(data) %>;
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      

      $(document).ready(function(){

        $(this).bind("contextmenu", function(e) {
          e.preventDefault();
        });

        var aj_page = 1;
        var data_status = 1;

        $('input.cb-lang').change(function(){

          var label = $('.cb-lang[name="language"]:checked').val();
          $('#input-lang').val(label);
          $('#search-form').submit();
          // $(".cb-lang[name='language'][value='<%= label%>']").prop("checked",true);
          // $(".cb-lang[name='language']").parent().each(function(){
          //   $(this).removeClass('active');
          // // })
          // $(".cb-lang[name='language'][value='<%= label%>']").attr("checked",true);
          // $(".cb-lang[name='language'][value='<%= label%>']").parent().addClass('active');

        });

        $('#select-length').change(function(){
          var select_length = $(this).val();
          $('#length').val(select_length);

          $('#search-form').submit();

        })


        $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height()) {
                  
                  $('#small-loader-div').show();

                  var aj_q = $('#q').val().toLowerCase();
                  var aj_label = $('#input-lang').val();
                  

                  let filter = {
                    q:aj_q,
                    label:aj_label,
                    page:aj_page
                  }

                  if( false) { //close ajax call
                  // if( data_status != 0 ) {

                    if( aj_q == '' ) {
                      $('#small-loader-div').hide();
                    } else {

                      $.ajax({
                          url: '/search_page_ajax', data:filter,
                          method:'POST', success: result => {

                            // var data = JSON.parse(result);
                            console.log("Result Success!");
                            console.log(result['data']);
                            aj_page = result['page'];
                            if( result['data'].length == 0 ) {
                              data_status = 0;
                            }

                            $.each(result['data'],function(index,value){
                              // console.log(value['_source']);
                              
                              var tt = '';
                              var cap = '';
                              if( value['_source']['title'] ) {
                                var tt = value['_source']['title'].replace("<!--[CDATA[", "").replace("]]-->", "").replace("<![CDATA[", "").replace("]]>", "");
                              } else {
                                return;
                              }
                              if( value['_source']['caption'] ) {
                                var cap = value['_source']['caption'].replace("<!--[CDATA[", "").replace("]]-->", "").replace("<![CDATA[", "").replace("]]>", "");
                              }

                              var dd = tt+" - "+cap;
                              var dd =  dd.replace(q,"<b>xxx</b>")

                              row = `<div class="col-md-7 search-box">
                                      <a href="${value['_source']['location']}" target="_blank">  ${tt} </a>
                                      <p class="g-link" > ${value['_source']['location']} </p>
                                      <div class="newbox">
                                        <div class="img-desc">
                                          <img class="sbimg" src="${value['_source']['image_link']}">
                                        </div>
                                        <div class="mytextbox">
                                          <p class="desc"> ${ dd.slice(0,150)+"..." } <br> Language: <u> ${value['_source']['weblanguage']} </u> </p> 
                                          
                                        </div>
                                      </div>
                                  </div>`;

                              $('#append-results').append(row);
                              
                            })

                            $('#small-loader-div').hide();
                                                      

                          },
                          error: e => {
                            console.log("Error Reported!");
                            data_status = 0;
                            $('#small-loader-div').hide();

                          }
                        });

                    }

                  } else {
                    
                    $('#small-loader-div').hide();
                            
                  }

            }
        });

      console.log("test");

      console.log(data);

      $('#select-length option[value="<%= length_str%>"]').attr('selected',true);

      $(".cb-lang[name='language']").parent().each(function(){
        $(this).removeClass('active');
      })
      $(".cb-lang[name='language'][value='<%= label%>']").attr("checked",true);
      $(".cb-lang[name='language'][value='<%= label%>']").parent().addClass('active');

      $('#re-sum').show();
      $('#re-sum').html(" About "+data['hits']['total']['value']+" results ("+data['took']+" milliseconds) ");
       if( data['hits']['hits'].length != 0 ) {
        $('#append-results').empty();
        
        
        
        $.each(data['hits']['hits'],function(index,value){
          console.log(value['_source']);
          var pattern = new RegExp("<%= q%>", 'gi');
          // Title + Caption description 
          //<p class="desc"> ${ dd.slice(0,150)+"..." } <br> Labeled: <u> ${value['_source']['weblanguage']} </u> </p> 

          var tt = '';
          var cap = '';
          if( value['_source']['title'] ) {
            var tt = value['_source']['title'].replace("<!--[CDATA[", "").replace("]]-->", "").replace("<![CDATA[", "").replace("]]>", "");
          } else {
            return;
          }
          if( value['_source']['caption'] ) {
            var cap = value['_source']['caption'].replace("<!--[CDATA[", "").replace("]]-->", "").replace("<![CDATA[", "").replace("]]>", "");
          }

          var dd = tt+" - "+cap;

          row = `<div class="col-md-7 search-box">
                  <a href="${value['_source']['location']}" target="_blank">  ${tt} </a>
                  <p class="g-link" > ${value['_source']['location']} </p>
                  <div class="newbox">
                    <div class="img-desc">
                      <img class="sbimg" src="${value['_source']['image_link']}" title="${cap}">
                    </div>
                    <div class="mytextbox">
                      <p class="desc"> ${ value['_source']['description'].replace(pattern,`<span><%= q%></span>`).slice(0,145)+"..." } <br> Language: <u> ${value['_source']['weblanguage']} </u> </p> 
                      
                    </div>
                  </div>
              </div>`;

          $('#append-results').append(row);
          $('#loader-div').hide();
        })
        console.log(data['hits']['hits'][0]);
        } else {
          $('#append-results').empty();
          $('#noresult-box').show();
          $('#loader-div').hide();
        } 


      }); 
    </script>

  </body>
</html>